# Question 3

In [1]:
import random
import numpy as np

airports=['LGA', 'JFK', 'DCA', 'CLT', 'ATL', 'MCO', 'ORD', 'DFW', 'DEN', 'PHX', 'LAS', 'LAX', 'SFO', 'SEA']
times={'LGA': {'LGA': 0, 'JFK': 0, 'DCA': 1, 'CLT': 2, 'ATL': 2, 'MCO': 3, 'ORD': 2, 'DFW': 3, 'DEN': 4, 'PHX': 4, 'LAS': 4, 'LAX': 5, 'SFO': 5, 'SEA': 5},
           'JFK': {'LGA': 0, 'JFK': 0, 'DCA': 1, 'CLT': 2, 'ATL': 2, 'MCO': 3, 'ORD': 2, 'DFW': 3, 'DEN': 4, 'PHX': 4, 'LAS': 4, 'LAX': 5, 'SFO': 5, 'SEA': 5},
           'DCA': {'LGA': 1, 'JFK': 1, 'DCA': 0, 'CLT': 2, 'ATL': 2, 'MCO': 3, 'ORD': 2, 'DFW': 2, 'DEN': 4, 'PHX': 4, 'LAS': 4, 'LAX': 5, 'SFO': 5, 'SEA': 5},
           'CLT': {'LGA': 2, 'JFK': 2, 'DCA': 1, 'CLT': 0, 'ATL': 1, 'MCO': 1, 'ORD': 2, 'DFW': 2, 'DEN': 4, 'PHX': 4, 'LAS': 4, 'LAX': 5, 'SFO': 5, 'SEA': 5},
           'ATL': {'LGA': 2, 'JFK': 2, 'DCA': 1, 'CLT': 1, 'ATL': 0, 'MCO': 2, 'ORD': 3, 'DFW': 2, 'DEN': 4, 'PHX': 4, 'LAS': 4, 'LAX': 5, 'SFO': 5, 'SEA': 6},
           'MCO': {'LGA': 3, 'JFK': 3, 'DCA': 2, 'CLT': 1, 'ATL': 1, 'MCO': 0, 'ORD': 3, 'DFW': 2, 'DEN': 4, 'PHX': 4, 'LAS': 4, 'LAX': 5, 'SFO': 5, 'SEA': 6},
           'ORD': {'LGA': 2, 'JFK': 2, 'DCA': 2, 'CLT': 2, 'ATL': 3, 'MCO': 3, 'ORD': 0, 'DFW': 2, 'DEN': 3, 'PHX': 3, 'LAS': 3, 'LAX': 4, 'SFO': 4, 'SEA': 4},
           'DFW': {'LGA': 3, 'JFK': 3, 'DCA': 2, 'CLT': 2, 'ATL': 2, 'MCO': 2, 'ORD': 2, 'DFW': 0, 'DEN': 2, 'PHX': 2, 'LAS': 2, 'LAX': 3, 'SFO': 3, 'SEA': 4},
           'DEN': {'LGA': 4, 'JFK': 4, 'DCA': 4, 'CLT': 4, 'ATL': 4, 'MCO': 4, 'ORD': 3, 'DFW': 2, 'DEN': 0, 'PHX': 1, 'LAS': 1, 'LAX': 2, 'SFO': 2, 'SEA': 3},
           'PHX': {'LGA': 4, 'JFK': 4, 'DCA': 4, 'CLT': 4, 'ATL': 4, 'MCO': 4, 'ORD': 3, 'DFW': 2, 'DEN': 1, 'PHX': 0, 'LAS': 1, 'LAX': 1, 'SFO': 1, 'SEA': 3},
           'LAS': {'LGA': 4, 'JFK': 4, 'DCA': 4, 'CLT': 4, 'ATL': 4, 'MCO': 4, 'ORD': 3, 'DFW': 2, 'DEN': 1, 'PHX': 1, 'LAS': 0, 'LAX': 1, 'SFO': 1, 'SEA': 2},
           'LAX': {'LGA': 5, 'JFK': 5, 'DCA': 5, 'CLT': 5, 'ATL': 5, 'MCO': 3, 'ORD': 4, 'DFW': 3, 'DEN': 4, 'PHX': 1, 'LAS': 1, 'LAX': 0, 'SFO': 1, 'SEA': 2},
           'SFO': {'LGA': 5, 'JFK': 5, 'DCA': 5, 'CLT': 5, 'ATL': 5, 'MCO': 5, 'ORD': 4, 'DFW': 3, 'DEN': 4, 'PHX': 1, 'LAS': 1, 'LAX': 1, 'SFO': 0, 'SEA': 1},
           'SEA': {'LGA': 5, 'JFK': 5, 'DCA': 5, 'CLT': 5, 'ATL': 6, 'MCO': 6, 'ORD': 2, 'DFW': 3, 'DEN': 4, 'PHX': 2, 'LAS': 1, 'LAX': 2, 'SFO': 1, 'SEA': 0}}

In [2]:
numFlights=50 # change this

origins=[random.choice(airports) for i in range(numFlights)]
destinations=[]
takeoff_times=np.round(np.random.uniform(0, 18, numFlights),2)
landing_times=[]
for i in range(numFlights):
    while True:
        destination=random.choice(airports)
        if destination!=origins[i]:
            destinations.append(destination)
            break

for i in range(numFlights):
    landing_times.append(np.round(takeoff_times[i]+times[origins[i]][destinations[i]],2))

print("#\t Origin\t Dest\t Start\t End")
print("-"*50)
for i in range(numFlights):
    print(i+1, "\t", origins[i], "\t", destinations[i], "\t", takeoff_times[i], "\t", landing_times[i])

#	 Origin	 Dest	 Start	 End
--------------------------------------------------
1 	 DCA 	 LGA 	 6.24 	 7.24
2 	 LAX 	 DFW 	 3.76 	 6.76
3 	 ATL 	 SEA 	 5.34 	 11.34
4 	 SEA 	 PHX 	 8.32 	 10.32
5 	 SEA 	 DEN 	 17.45 	 21.45
6 	 JFK 	 LAS 	 4.72 	 8.72
7 	 ORD 	 JFK 	 3.14 	 5.14
8 	 DEN 	 ORD 	 9.42 	 12.42
9 	 LGA 	 CLT 	 10.15 	 12.15
10 	 CLT 	 LGA 	 0.8 	 2.8
11 	 SFO 	 LGA 	 17.3 	 22.3
12 	 SEA 	 ORD 	 15.49 	 17.49
13 	 DFW 	 PHX 	 15.76 	 17.76
14 	 DCA 	 CLT 	 2.0 	 4.0
15 	 LGA 	 LAX 	 4.7 	 9.7
16 	 JFK 	 PHX 	 2.74 	 6.74
17 	 ATL 	 JFK 	 16.87 	 18.87
18 	 SFO 	 ORD 	 14.93 	 18.93
19 	 LGA 	 ATL 	 0.69 	 2.69
20 	 SEA 	 LAS 	 10.2 	 11.2
21 	 DEN 	 ATL 	 10.19 	 14.19
22 	 MCO 	 PHX 	 16.05 	 20.05
23 	 DFW 	 CLT 	 17.78 	 19.78
24 	 JFK 	 LGA 	 2.49 	 2.49
25 	 SFO 	 DEN 	 9.27 	 13.27
26 	 LGA 	 DFW 	 7.53 	 10.53
27 	 JFK 	 SEA 	 9.12 	 14.12
28 	 SEA 	 DFW 	 15.98 	 18.98
29 	 SEA 	 JFK 	 13.03 	 18.03
30 	 SEA 	 SFO 	 15.1 	 16.1
31 	 SFO 	 LAX 	 11.22 	 12.22
32 	 JFK 	 MCO 	 1.53 	 4.53
33 	 DFW 	 JFK 	 17.45 	 20.45
34 	 PHX 	 SFO 	 4.9 	 5.9
35 	 LAS 	 ATL 	 6.61 	 10.61
36 	 LAX 	 DEN 	 15.87 	 19.87
37 	 SFO 	 JFK 	 3.31 	 8.31
38 	 ORD 	 LAS 	 9.84 	 12.84
39 	 LAS 	 JFK 	 6.02 	 10.02
40 	 LAS 	 CLT 	 8.1 	 12.1
41 	 DEN 	 ORD 	 16.17 	 19.17
42 	 ORD 	 LGA 	 5.15 	 7.15
43 	 PHX 	 LAS 	 1.45 	 2.45
44 	 SEA 	 ATL 	 15.53 	 21.53
45 	 LAX 	 DCA 	 15.3 	 20.3
46 	 DEN 	 LAX 	 1.68 	 3.68
47 	 DEN 	 JFK 	 6.93 	 10.93
48 	 LAS 	 PHX 	 0.36 	 1.36
49 	 DEN 	 SFO 	 13.02 	 15.02
50 	 DCA 	 LAX 	 2.81 	 7.81

# Method1:

In [48]:
import pandas as pd
import warnings
warnings.simplefilter("ignore")

combination = list(zip(origins, destinations, takeoff_times, landing_times))
combination

df = pd.DataFrame(combination, columns = ["origins", "destinations", "takeoff_times", "landing_times"])
df.sort_values(by=["takeoff_times"],inplace=True)


df1 = df.iloc[:,[0,2]]
df1["compensation"] = 1
df2 = df.iloc[:,[1,3]]
df2["compensation"] = -1

In [49]:
df3 = df1.rename(columns={"origins": "airport", "takeoff_times": "time"})
df4 = df2.rename(columns={"destinations": "airport", "landing_times": "time"})
df5 = pd.concat([df3,df4])
df5.sort_values(by=["time"],inplace=True, ignore_index=True)
df5

compute = {}
for i in airports:
    compute[i] = 0

compute2 = compute.copy()

In [50]:
df5

   airport   time  compensation
0      LAS   0.36             1
1      LGA   0.69             1
2      CLT   0.80             1
3      PHX   1.36            -1
4      PHX   1.45             1
..     ...    ...           ...
95     DCA  20.30            -1
96     JFK  20.45            -1
97     DEN  21.45            -1
98     ATL  21.53            -1
99     LGA  22.30            -1

[100 rows x 3 columns]

In [51]:
for i in range(df5.shape[0]):
    if df5["compensation"][i] == 1:
        if compute2[df5["airport"][i]] == 0:
            compute[df5["airport"][i]] += 1
        else: 
            compute2[df5["airport"][i]] = compute2[df5["airport"][i]] - df5["compensation"][i]
    else:
        compute2[df5["airport"][i]] -= df5["compensation"][i]

        
print("The overall crews should be {} people".format(np.sum(list(compute.values()))))
print("-"*50)
print("Crews distribution in different airports")
print(compute)

The overall crews should be 31 people
--------------------------------------------------
Crews distribution in different airports
{'LGA': 1, 'JFK': 4, 'DCA': 3, 'CLT': 1, 'ATL': 0, 'MCO': 0, 'ORD': 3, 'DFW': 1, 'DEN': 5, 'PHX': 1, 'LAS': 3, 'LAX': 0, 'SFO': 3, 'SEA': 6}

# Method2:

In [52]:
import gurobipy as gp
from gurobipy import *

In [53]:
m = Model('fights')
x = {}
for i in range(len(airports)):
    x[airports[i]] = m.addVar(vtype=GRB.INTEGER, name= airports[i])

    
for i in range(df5.shape[0]):
    x[df5["airport"][i]] -= df5["compensation"][i] 
    if df5["compensation"][i] == 1:
        m.addConstr(x[df5["airport"][i]] >= 0, name='c('+str(i)+')')
        
crew_number = np.sum(list(x.values()))
m.setObjective(crew_number, GRB.MINIMIZE)
m.optimize()

Gurobi Optimizer version 9.5.2 build v9.5.2rc0 (win64)
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads
Optimize a model with 50 rows, 14 columns and 50 nonzeros
Model fingerprint: 0xcff93093
Variable types: 0 continuous, 14 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e+00, 6e+00]
Found heuristic solution: objective 31.0000000
Presolve removed 50 rows and 14 columns
Presolve time: 0.00s
Presolve: All rows and columns removed

Explored 0 nodes (0 simplex iterations) in 0.00 seconds (0.00 work units)
Thread count was 1 (of 16 available processors)

Solution count 1: 31

Optimal solution found (tolerance 1.00e-04)
Best objective 3.100000000000e+01, best bound 3.100000000000e+01, gap 0.0000%

In [54]:
print("We should have at least {} crews".format(int(m.ObjVal)))
print("-"*50)
print("There distribution is in:")
for i in range(len(m.X)):
    if m.X[i]>0:
        print("\033[91m\033[1m{}: {} crew(s).\033[0m".format(list(x.keys())[i], int(m.X[i])))
    else:
        print("{}: {} crew(s). ".format(list(x.keys())[i], int(m.X[i])))

We should have at least 31 crews
--------------------------------------------------
There distribution is in:
LGA: 1 crew(s).
JFK: 4 crew(s).
DCA: 3 crew(s).
CLT: 1 crew(s).
ATL: 0 crew(s).
MCO: 0 crew(s).
ORD: 3 crew(s).
DFW: 1 crew(s).
DEN: 5 crew(s).
PHX: 1 crew(s).
LAS: 3 crew(s).
LAX: 0 crew(s).
SFO: 3 crew(s).
SEA: 6 crew(s).